<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movement" href="/movement">
      <ion-icon aria-hidden="true" name="car-sport"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="establishment" href="/establishment">
      <ion-icon aria-hidden="true" name="business"></ion-icon>
      <ion-label>Establecimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
