<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Establecimientos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let establishment of establishments">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ establishment.name }}</ion-card-title>
          <ion-card-subtitle>
            {{ establishment.description }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ establishment.address }}</p>
          <p style="font-size: 1.2rem; margin-top: 1em;">
            Tarifa por minuto: <span style="font-weight: bold; color: green;">{{ establishment.fare | currency:'USD':'symbol':'1.2-2' }}</span>
          </p>
        </ion-card-content>
        <ion-footer>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="3" class="ion-text-center">
              <ion-label style="font-size: .6rem; margin-bottom: 1em;">Total</ion-label>
              <ion-badge color="primary" style="font-size: 1.5rem; font-weight: bold;">{{ establishment.totalStands }}</ion-badge>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <ion-label style="font-size: .6rem; margin-bottom: 1em;">Ocupados</ion-label>
              <ion-badge color="warning" style="font-size: 1.5rem; font-weight: bold;">{{ establishment.totalOccupiedStands }}</ion-badge>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <ion-label style="font-size: .6rem; margin-bottom: 1em;">Disponibles</ion-label>
              <ion-badge [color]="establishment.totalOccupiedStands >= establishment.totalStands ? 'danger' : 'success'" style="font-size: 1.5rem; font-weight: bold;">
                {{ establishment.totalStands - establishment.totalOccupiedStands }}
              </ion-badge>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEstablishment()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>