ion-item {
    border-radius: 10px;
    margin: .25em;
}

ion-button {
    margin-top: 5vh;
    ion-text {
        font-size: 1rem;
    }
}

ion-card {
    margin: 0;
    padding: 0;
}

.add-card {
    border: 2px dotted gray;
}