.selected {
  background-color: #cfd8dc;
}

ion-item {
    border-radius: 10px;
    margin: .25em;
}

ion-button {
    margin-top: 5vh;
    ion-text {
        font-size: 1rem;
    }
}

ion-content ion-card {
  width: 100%;
}